/* Big Screens */
#babies-quote {
    background: url("../../public/assets/images/bg-2.jpg") repeat fixed 0%;
}

#babies-quote .inner-content {
    padding: 7% 15%;
    color: white;
}

#babies-quote .inner-content h1 {
    line-height: 2;
    font-family: "Great vibes", cursive;
    word-spacing: 5px;
}

#babies-quote .inner-content .wrapper {
    text-align-last: right;
}

#babies-quote .inner-content h1.maashaallaah {
    font-family: "Amiri", serif;
}

#babies-quote .inner-content h3 {
    word-spacing: 5px;
    line-height: 1.5;
    font-family: "Tangerine", cursive;
}

#babies-quote img {
    width: 30%;
    border-radius: 50%;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #babies-quote {
        background: url("../../public/assets/images/bg-2.jpg") repeat fixed 18%;
    }
    #babies-quote .inner-content {
        padding: 7% 10%;
    }
    #babies-quote .inner-content h1 {
        font-size: 1.5rem;
    }
    #babies-quote .inner-content h3 {
        font-size: 1.25rem;
    }
    #babies-quote img {
        width: 45%;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
