#header {
    color: #f9f097;
    padding: 7%;
    text-align: justify;
    background: rgb(162, 0, 109);
    background: radial-gradient(circle, rgb(162, 0, 109) 45%, rgba(107, 26, 94, 1) 100%);
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.492);
}

#header .poster {
    border-radius: 50%;
    width: 30%;
    margin-bottom: 7%;
}

#header h3,
#header h4 {
    line-height: 1.5;
}

#header h4.ayat {
    margin: 5% 0px;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #header {
        padding: 17% 10% 10%;
    }
    #header .poster {
        width: 50%;
    }

    #header h3 {
        font-size: 1rem;
    }
    #header h4 {
        font-size: 12px;
    }
    #header h4.ayat {
        margin: 7% 0px;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
