/* Big Screens */
#invitation-quote {
    background: url("../../public/assets/images/bg-img.jpg") repeat fixed 100%;
}

#invitation-quote .inner-content {
    padding: 7% 15%;
    color: white;
}

#invitation-quote .inner-content h1 {
    line-height: 2;
    font-size: 2.5rem;
    font-family: "Great vibes", cursive;
}

#invitation-quote .inner-content h3 {
    text-align: justify;
    text-align-last: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #invitation-quote {
        background-size: 250%;
    }
    #invitation-quote .inner-content {
        padding: 7% 10%;
    }
    #invitation-quote .inner-content h1 {
        font-size: 1.5rem;
    }
    #invitation-quote .inner-content h3 {
        font-size: 1rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
