/* Big Screens */
#timeline {
    padding: 7% 7%;
    color: rgb(162, 0, 109);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.492);
}

#timeline .timeline-wrapper {
    margin-top: 7%;
}

#timeline .left {
    border-right: 1.5px solid rgb(162, 0, 109);
}

#timeline .right {
    border-left: 1.5px solid rgb(162, 0, 109);
}

#timeline h1 {
    line-height: 2;
    font-family: "Great vibes", cursive;
}

#timeline h2 {
    font-family: "Great Vibes", cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

#timeline p {
    font-size: 1.25rem;
    color: #444444;
    line-height: 1.4;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #timeline {
        padding: 7% 10% 10%;
    }
    .next {
        padding-top: 7%;
    }
    #timeline .right,
    #timeline .left {
        border: none;
        border-left: 2px solid;
    }
    #timeline h1 {
        font-size: 1.5rem;
    }
    #timeline p {
        font-size: 12px;
    }
    #timeline h2 {
        font-size: 1.2rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
